!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap2.min.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap2-responsive.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse") 
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Pageperformance Node
          .nav-collapse.collapse
            p.navbar-text.pull-right Logged in as Nobody
            ul.nav
              li
                a(href="/") Home
              li
                a(href="/about") About
              li
                a(href="/contact") Contact

    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Pages
              li
                a(href="/") Home
              li.nav-header Jobs
              li
                a(href="/jobs/new") New Job
              li
                a(href="/jobs/show") Show Jobs
        .span9
          .hero-unit
            h1 Pageperformance Node
          .row-fluid
            .span9
              block content

    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/bootstrap2.min.js')
